* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "roboto-bold";
  src: url("src/public/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  src: url("src/public/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("src/public/fonts/Roboto-Light.ttf") format("truetype");
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: "roboto-bold";
}
p {
  font-family: "roboto-light";
}
a, input, textarea{
  font-family: "roboto-regular";
}
img {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Chrome and Opera */
}
.bg-neutral-900 {
  background-color: rgb(23 23 23);
}
.bg-slate-400 {
  background-color: rgb(148 163 184);
}
.bg-gray-mo {
  background-color: #181a1b;
}
.bg-gray-dark {
  background-color: #131313;
}
.bg-glass {
  background: rgba(255, 255, 255, 0.1);
}
.hover\:text-slate-500:hover {
  color: rgb(100 116 139);
}
.hover\:text-slate-300:hover {
  color: rgb(203 213 225);
}
.hover\:bg-slate-300:hover {
  background-color: rgb(203 213 225);
}
.h-fit {
  height: fit-content;
}
.pt-screen {
  padding-top: 100vh;
}
.spacer {
  height: 100vh;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.wave svg {
  position: relative;
  width: calc(100% + 1.3px);
  height: 100%;
}
.wave .shape-fill {
  fill: #171717;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 28, 135);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 21, 103);
}
